{
  "presets": ["@babel/preset-env", "@babel/preset-stage-0", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-custom-element-classes",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    ["@babel/transform-runtime", {"polyfill": false}],
    "pipe-composition"
  ]
}
